body{
    background-color:#FEFAE0;
    
}
h1{
    color:#1eeded;
}
h3{
    color:#1eeded;
}
hr{
    background-color:white(25, 210, 84);
    border-style: none;
    border-top-style: dotted;
    border-color: skyblue;
    border-width: 5px;
    width:10%;
    
}
